---
import './EloCalculator.css';
---

<div class="elo-calculator">
  <h3>Elo Rating Calculator</h3>
  
  <form class="elo-form" id="eloForm">
    <label for="user-elo">Your Elo Rating:</label>
    <input 
      type="number" 
      id="user-input" 
      name="user-elo" 
      value="1500"
      min="400" 
      max="2600" 
      step="1"
      required
    />
    <label for="opponent-elo">Opponent's Elo Rating:</label>
    <input 
      type="number" 
      id="opponent-input" 
      name="opponent-elo" 
      value="1500"
      min="400" 
      max="2600" 
      step="1"
      required
    />
  </form>
  <h4>Probability of winning a single game</h4>
  <p id="winPercentage"></p>
  <h4>Probability of winning a BO3 match</h4>
  <p id="bo3WinPercentage"></p>
  <h4>Probability of winning a BO5 match</h4>
  <p id="bo5WinPercentage"></p>
</div>

<script>
  // Import the helper function
  import { calculateBO3Probability, calculateBO5Probability, calculateWinProbability } from '../utils/eloProbabilities';

  function formatPercent(prob: number): string {
    return (prob * 100).toFixed(2) + '%';
  }

  // Generate rating differences


  document.addEventListener('DOMContentLoaded', () => {
    const userInput = document.getElementById('user-input') as HTMLInputElement;
    const opponentInput = document.getElementById('opponent-input') as HTMLInputElement;
    const results = document.getElementById('winPercentage') as HTMLSpanElement;
    const bo3Results = document.getElementById('bo3WinPercentage') as HTMLSpanElement;
    const bo5Results = document.getElementById('bo5WinPercentage') as HTMLSpanElement;

    function updateResults() {
      const userElo = parseInt(userInput.value) || 1500;
      const opponentElo = parseInt(opponentInput.value) || 1500;
      
      const winProbability = calculateWinProbability(opponentElo, userElo);
      const bo3Probability = calculateBO3Probability(winProbability);
      const bo5Probability = calculateBO5Probability(winProbability);
      results.textContent = formatPercent(winProbability);
      bo3Results.textContent = formatPercent(bo3Probability);
      bo5Results.textContent = formatPercent(bo5Probability);

    }

    userInput.addEventListener('input', updateResults);
    opponentInput.addEventListener('input', updateResults);
    updateResults();
  });
</script> 